
.fondo{

background-image: url(/imagenes/ba1.jpg);
background-position: center;
background-size: cover;
/* text-align: right; */
height: 90vh;
position: relative;
}

.miclase {
    padding: 10px 15px!important;
}
.texto{
box-sizing: border-box;
margin-top: 5px;
margin-bottom: 1rem;
--bs-text-opacity: 1;
font-size: 13px;
}

.nav{
background-color: rgb(45, 68, 82);
}

.boton-resumen {
    background: #74a126;
    color: white;
}
.boton-resumen:hover {
    background: #a7d658;
    color: white;
}
.back{
    background-color: rgb(253, 253, 253);
}
